@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}

.bg-transition {
  @apply transition-all duration-300 ease-in-out;
}
